{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "contact": {
            "name": "Maxim Engineering",
            "email": "eng@getmaxim.ai"
        },
        "title": "Maxim SDK API - logging",
        "description": "API documentation for Maxim SDK logging endpoints"
    },
    "servers": [
        {
            "url": "https://api.getmaxim.ai"
        }
    ],
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "x-maxim-api-key",
                "description": "API key for authentication"
            }
        },
        "schemas": {
            "TraceStart": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["trace"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["start"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the trace."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the trace. If not provided, the trace will be created without a name."
                            },
                            "sessionId": {
                                "type": "string",
                                "description": "Unique identifier for the session. If not provided, the trace will be created without a session."
                            },
                            "tags": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Tags for the trace. If not provided, the trace will be created without tags."
                            }
                        }
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Trace: Start"
            },
            "TraceEnd": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["trace"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["end"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the trace."
                    }
                },
                "required": ["repoId", "entity", "action", "entityId"],
                "title": "Trace: End"
            },
            "TraceAddGeneration": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["trace"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-generation"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the trace."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "generationId": {
                                "type": "string",
                                "description": "Unique identifier for the generation."
                            },
                            "model": {
                                "type": "string",
                                "description": "Model for the generation."
                            },
                            "provider": {
                                "type": "string",
                                "enum": [
                                    "openai",
                                    "bedrock",
                                    "anthropic",
                                    "huggingface",
                                    "azure",
                                    "together",
                                    "groq",
                                    "google"
                                ],
                                "description": "Provider for the generation. One of: 'openai', 'bedrock', 'anthropic', 'huggingface', 'azure', 'together', 'groq', 'google'."
                            },
                            "messages": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "role": {
                                            "type": "string",
                                            "enum": [
                                                "assistant",
                                                "user",
                                                "system",
                                                "model",
                                                "chatbot",
                                                "tool"
                                            ],
                                            "description": "Role of the message sender"
                                        },
                                        "content": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "anyOf": [
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": ["text"],
                                                                        "description": "Content type"
                                                                    },
                                                                    "text": {
                                                                        "type": "string",
                                                                        "description": "Text content"
                                                                    }
                                                                },
                                                                "required": ["type", "text"],
                                                                "description": "Text content object"
                                                            },
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": ["image_url"],
                                                                        "description": "Content type"
                                                                    },
                                                                    "image_url": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "url": {
                                                                                "type": "string",
                                                                                "description": "Image URL"
                                                                            },
                                                                            "detail": {
                                                                                "type": "string",
                                                                                "enum": [
                                                                                    "auto",
                                                                                    "low",
                                                                                    "high"
                                                                                ],
                                                                                "description": "Image detail level"
                                                                            }
                                                                        },
                                                                        "required": ["url"],
                                                                        "description": "Image URL configuration"
                                                                    }
                                                                },
                                                                "required": ["type", "image_url"],
                                                                "description": "Image URL content object"
                                                            }
                                                        ],
                                                        "description": "Content schema"
                                                    }
                                                },
                                                {
                                                    "nullable": true
                                                }
                                            ],
                                            "description": "Message content"
                                        },
                                        "tool_call_id": {
                                            "type": "string",
                                            "description": "Tool call ID for tool messages"
                                        },
                                        "tool_calls": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "Tool call identifier"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "enum": ["function"],
                                                        "description": "Tool call type"
                                                    },
                                                    "function": {
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "description": "Function name"
                                                            },
                                                            "arguments": {
                                                                "type": "string",
                                                                "description": "Function arguments as JSON string"
                                                            }
                                                        },
                                                        "required": ["name", "arguments"],
                                                        "description": "Function call details"
                                                    }
                                                },
                                                "required": ["id", "type", "function"],
                                                "description": "Tool call object"
                                            },
                                            "description": "Tool calls made by the assistant in this message"
                                        }
                                    },
                                    "required": ["role"],
                                    "description": "Message to send to the model"
                                },
                                "description": "Messages for the generation."
                            },
                            "modelParameters": {
                                "type": "object",
                                "additionalProperties": {
                                    "nullable": true
                                },
                                "description": "Model parameters for the generation."
                            },
                            "name": {
                                "type": "string",
                                "description": "Name of the generation. If not provided, the generation will be created without a name."
                            },
                            "tags": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Tags for the generation. If not provided, the generation will be created without tags."
                            },
                            "maximPromptId": {
                                "type": "string",
                                "description": "Unique identifier for the maxim prompt. "
                            }
                        },
                        "required": [
                            "generationId",
                            "model",
                            "provider",
                            "messages",
                            "modelParameters"
                        ]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Trace: Add Generation"
            },
            "TraceAddInput": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["trace"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-input"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the trace."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "input": {
                                "type": "string",
                                "description": "Input for the trace."
                            }
                        },
                        "required": ["input"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Trace: Add Input"
            },
            "TraceAddSpan": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["trace"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-span"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the trace."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "spanId": {
                                "type": "string",
                                "description": "Unique identifier for the span."
                            },
                            "name": {
                                "type": "string",
                                "description": "Name of the span. If not provided, the span will be created without a name."
                            },
                            "tags": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Tags for the span. If not provided, the span will be created without tags."
                            }
                        },
                        "required": ["spanId"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Trace: Add Span"
            },
            "TraceAddMetadata": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["trace"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-metadata"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the trace."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "metadata": {
                                "type": "object",
                                "additionalProperties": {
                                    "nullable": true
                                },
                                "description": "Metadata for the trace."
                            }
                        },
                        "required": ["metadata"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Trace: Add Metadata"
            },
            "TraceAddEvent": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["trace"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-event"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the trace."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "eventId": {
                                "type": "string",
                                "description": "Unique identifier for the event."
                            },
                            "eventName": {
                                "type": "string",
                                "description": "Name of the event."
                            },
                            "tags": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Tags for the event. If not provided, the event will be created without tags."
                            },
                            "metadata": {
                                "type": "object",
                                "additionalProperties": {
                                    "nullable": true
                                },
                                "description": "Metadata for the event. If not provided, the event will be created without metadata."
                            }
                        },
                        "required": ["eventId", "eventName"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Trace: Add Event"
            },
            "TraceAddFeedback": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["trace"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-feedback"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the trace."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "feedback": {
                                "type": "object",
                                "properties": {
                                    "score": {
                                        "type": "number",
                                        "description": "Score for the feedback."
                                    },
                                    "comment": {
                                        "type": "string",
                                        "description": "Comment for the feedback. If not provided, the feedback will be created without a comment."
                                    }
                                },
                                "required": ["score"],
                                "description": "Feedback for the trace."
                            }
                        },
                        "required": ["feedback"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Trace: Add Feedback"
            },
            "TraceAddRetrieval": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["trace"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-retrieval"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the trace."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "retrievalId": {
                                "type": "string",
                                "description": "Unique identifier for the retrieval."
                            },
                            "name": {
                                "type": "string",
                                "description": "Name of the retrieval. If not provided, the retrieval will be created without a name."
                            },
                            "tags": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Tags for the retrieval. If not provided, the retrieval will be created without tags."
                            }
                        },
                        "required": ["retrievalId"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Trace: Add Retrieval"
            },
            "TraceAddTag": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["trace"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-tag"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the trace."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "tagKey": {
                                "type": "string",
                                "description": "Key of the tag."
                            },
                            "tagValue": {
                                "type": "string",
                                "description": "Value of the tag."
                            }
                        },
                        "required": ["tagKey", "tagValue"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Trace: Add Tag"
            },
            "TraceAddToolCall": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["trace"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-tool-call"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the trace."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "toolCallId": {
                                "type": "string",
                                "description": "Unique identifier for the tool call."
                            },
                            "toolName": {
                                "type": "string",
                                "description": "Name of the tool call."
                            },
                            "description": {
                                "type": "string",
                                "description": "Description of the tool call."
                            },
                            "args": {
                                "type": "string",
                                "description": "Arguments for the tool call as a JSON string."
                            },
                            "tags": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Tags for the tool call. If not provided, the tool call will be created without tags."
                            }
                        },
                        "required": ["toolCallId", "toolName", "description", "args"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Trace: Add Tool Call"
            },
            "TraceAddOutput": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["trace"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-output"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the trace."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "output": {
                                "type": "string",
                                "description": "Output for the trace."
                            }
                        },
                        "required": ["output"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Trace: Add Output"
            },
            "TraceEvaluate": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["trace"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["evaluate"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the trace."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "evaluators": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                },
                                "minItems": 1,
                                "description": "Evaluators for the trace. If not provided, the trace will be created without evaluators."
                            },
                            "variables": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Variables for the evaluator. If not provided, the evaluator will be created without variables."
                            }
                        },
                        "required": ["evaluators"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Trace: Evaluate"
            },
            "TraceAddMetric": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["trace"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-metric"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the trace."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "metricName": {
                                "type": "string",
                                "description": "Name of the metric."
                            },
                            "metricValue": {
                                "type": "number",
                                "description": "Value of the metric."
                            }
                        },
                        "required": ["metricName", "metricValue"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Trace: Add Metric"
            },
            "TraceAddToSession": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["trace"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-to-session"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the trace."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "sessionId": {
                                "type": "string",
                                "description": "Unique identifier for the session."
                            }
                        },
                        "required": ["sessionId"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Trace: Add to Session"
            },
            "SessionCreate": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["session"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["create"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the session."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string",
                                "description": "Name of the session. If not provided, the session will be created without a name."
                            },
                            "tags": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Tags for the session. If not provided, the session will be created without tags."
                            }
                        }
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Session: Create"
            },
            "SessionEnd": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["session"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["end"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the session."
                    }
                },
                "required": ["repoId", "entity", "action", "entityId"],
                "title": "Session: End"
            },
            "SessionAddTrace": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["session"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-trace"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the session."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "traceId": {
                                "type": "string",
                                "description": "Unique identifier for the trace."
                            },
                            "name": {
                                "type": "string",
                                "description": "Name of the trace. If not provided, the trace will be created without a name."
                            },
                            "tags": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Tags for the trace. If not provided, the trace will be created without tags."
                            }
                        },
                        "required": ["traceId"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Session: Add Trace"
            },
            "SessionAddFeedback": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["session"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-feedback"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the session."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "feedback": {
                                "type": "object",
                                "properties": {
                                    "score": {
                                        "type": "number",
                                        "description": "Score for the feedback."
                                    },
                                    "comment": {
                                        "type": "string",
                                        "description": "Comment for the feedback. If not provided, the feedback will be created without a comment."
                                    }
                                },
                                "required": ["score"],
                                "description": "Feedback for the session."
                            }
                        },
                        "required": ["feedback"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Session: Add Feedback"
            },
            "SessionAddTag": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["session"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-tag"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the session."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "tagKey": {
                                "type": "string",
                                "description": "Key of the tag."
                            },
                            "tagValue": {
                                "type": "string",
                                "description": "Value of the tag."
                            }
                        },
                        "required": ["tagKey", "tagValue"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Session: Add Tag"
            },
            "SessionEvaluate": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["session"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["evaluate"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the session."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "evaluators": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                },
                                "minItems": 1,
                                "description": "Evaluators for the session. If not provided, the session will be created without evaluators."
                            },
                            "variables": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Variables for the evaluator. If not provided, the evaluator will be created without variables."
                            }
                        },
                        "required": ["evaluators"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Session: Evaluate"
            },
            "SessionAddMetric": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["session"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-metric"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the session."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "metricName": {
                                "type": "string",
                                "description": "Name of the metric."
                            },
                            "metricValue": {
                                "type": "number",
                                "description": "Value of the metric."
                            }
                        },
                        "required": ["metricName", "metricValue"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Session: Add Metric"
            },
            "GenerationAddTraceGeneration": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["generation"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-trace-generation"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the generation."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "traceId": {
                                "type": "string",
                                "description": "Unique identifier for the trace."
                            },
                            "model": {
                                "type": "string",
                                "description": "Model for the generation."
                            },
                            "provider": {
                                "type": "string",
                                "enum": [
                                    "openai",
                                    "bedrock",
                                    "anthropic",
                                    "huggingface",
                                    "azure",
                                    "together",
                                    "groq",
                                    "google"
                                ],
                                "description": "Provider for the generation."
                            },
                            "messages": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "role": {
                                            "type": "string",
                                            "enum": [
                                                "assistant",
                                                "user",
                                                "system",
                                                "model",
                                                "chatbot",
                                                "tool"
                                            ],
                                            "description": "Role of the message sender"
                                        },
                                        "content": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "anyOf": [
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": ["text"],
                                                                        "description": "Content type"
                                                                    },
                                                                    "text": {
                                                                        "type": "string",
                                                                        "description": "Text content"
                                                                    }
                                                                },
                                                                "required": ["type", "text"],
                                                                "description": "Text content object"
                                                            },
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": ["image_url"],
                                                                        "description": "Content type"
                                                                    },
                                                                    "image_url": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "url": {
                                                                                "type": "string",
                                                                                "description": "Image URL"
                                                                            },
                                                                            "detail": {
                                                                                "type": "string",
                                                                                "enum": [
                                                                                    "auto",
                                                                                    "low",
                                                                                    "high"
                                                                                ],
                                                                                "description": "Image detail level"
                                                                            }
                                                                        },
                                                                        "required": ["url"],
                                                                        "description": "Image URL configuration"
                                                                    }
                                                                },
                                                                "required": ["type", "image_url"],
                                                                "description": "Image URL content object"
                                                            }
                                                        ],
                                                        "description": "Content schema"
                                                    }
                                                },
                                                {
                                                    "nullable": true
                                                }
                                            ],
                                            "description": "Message content"
                                        },
                                        "tool_call_id": {
                                            "type": "string",
                                            "description": "Tool call ID for tool messages"
                                        },
                                        "tool_calls": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "Tool call identifier"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "enum": ["function"],
                                                        "description": "Tool call type"
                                                    },
                                                    "function": {
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "description": "Function name"
                                                            },
                                                            "arguments": {
                                                                "type": "string",
                                                                "description": "Function arguments as JSON string"
                                                            }
                                                        },
                                                        "required": ["name", "arguments"],
                                                        "description": "Function call details"
                                                    }
                                                },
                                                "required": ["id", "type", "function"],
                                                "description": "Tool call object"
                                            },
                                            "description": "Tool calls made by the assistant in this message"
                                        }
                                    },
                                    "required": ["role"],
                                    "description": "Message to send to the model"
                                },
                                "description": "Messages for the generation."
                            },
                            "modelParameters": {
                                "type": "object",
                                "additionalProperties": {
                                    "nullable": true
                                },
                                "description": "Model parameters for the generation."
                            },
                            "name": {
                                "type": "string",
                                "description": "Name of the generation. If not provided, the generation will be created without a name."
                            },
                            "tags": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Tags for the generation. If not provided, the generation will be created without tags."
                            },
                            "maximPromptId": {
                                "type": "string",
                                "description": "Unique identifier for the maxim prompt. "
                            }
                        },
                        "required": ["traceId", "model", "provider", "messages", "modelParameters"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Generation: Add Trace Generation"
            },
            "GenerationAddSpanGeneration": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["generation"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-span-generation"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the generation."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "spanId": {
                                "type": "string",
                                "description": "Unique identifier for the span."
                            },
                            "model": {
                                "type": "string",
                                "description": "Model for the generation."
                            },
                            "provider": {
                                "type": "string",
                                "enum": [
                                    "openai",
                                    "bedrock",
                                    "anthropic",
                                    "huggingface",
                                    "azure",
                                    "together",
                                    "groq",
                                    "google"
                                ],
                                "description": "Provider for the generation."
                            },
                            "messages": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "role": {
                                            "type": "string",
                                            "enum": [
                                                "assistant",
                                                "user",
                                                "system",
                                                "model",
                                                "chatbot",
                                                "tool"
                                            ],
                                            "description": "Role of the message sender"
                                        },
                                        "content": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "anyOf": [
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": ["text"],
                                                                        "description": "Content type"
                                                                    },
                                                                    "text": {
                                                                        "type": "string",
                                                                        "description": "Text content"
                                                                    }
                                                                },
                                                                "required": ["type", "text"],
                                                                "description": "Text content object"
                                                            },
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": ["image_url"],
                                                                        "description": "Content type"
                                                                    },
                                                                    "image_url": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "url": {
                                                                                "type": "string",
                                                                                "description": "Image URL"
                                                                            },
                                                                            "detail": {
                                                                                "type": "string",
                                                                                "enum": [
                                                                                    "auto",
                                                                                    "low",
                                                                                    "high"
                                                                                ],
                                                                                "description": "Image detail level"
                                                                            }
                                                                        },
                                                                        "required": ["url"],
                                                                        "description": "Image URL configuration"
                                                                    }
                                                                },
                                                                "required": ["type", "image_url"],
                                                                "description": "Image URL content object"
                                                            }
                                                        ],
                                                        "description": "Content schema"
                                                    }
                                                },
                                                {
                                                    "nullable": true
                                                }
                                            ],
                                            "description": "Message content"
                                        },
                                        "tool_call_id": {
                                            "type": "string",
                                            "description": "Tool call ID for tool messages"
                                        },
                                        "tool_calls": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "Tool call identifier"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "enum": ["function"],
                                                        "description": "Tool call type"
                                                    },
                                                    "function": {
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "description": "Function name"
                                                            },
                                                            "arguments": {
                                                                "type": "string",
                                                                "description": "Function arguments as JSON string"
                                                            }
                                                        },
                                                        "required": ["name", "arguments"],
                                                        "description": "Function call details"
                                                    }
                                                },
                                                "required": ["id", "type", "function"],
                                                "description": "Tool call object"
                                            },
                                            "description": "Tool calls made by the assistant in this message"
                                        }
                                    },
                                    "required": ["role"],
                                    "description": "Message to send to the model"
                                },
                                "description": "Messages for the generation."
                            },
                            "modelParameters": {
                                "type": "object",
                                "additionalProperties": {
                                    "nullable": true
                                },
                                "description": "Model parameters for the generation."
                            },
                            "name": {
                                "type": "string",
                                "description": "Name of the generation. If not provided, the generation will be created without a name."
                            },
                            "tags": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Tags for the generation. If not provided, the generation will be created without tags."
                            },
                            "maximPromptId": {
                                "type": "string",
                                "description": "Unique identifier for the maxim prompt. "
                            }
                        },
                        "required": ["spanId", "model", "provider", "messages", "modelParameters"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Generation: Add Span Generation"
            },
            "GenerationAddMessage": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["generation"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-message"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the generation."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "message": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "role": {
                                            "type": "string",
                                            "enum": [
                                                "assistant",
                                                "user",
                                                "system",
                                                "model",
                                                "chatbot",
                                                "tool"
                                            ],
                                            "description": "Role of the message sender"
                                        },
                                        "content": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "anyOf": [
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": ["text"],
                                                                        "description": "Content type"
                                                                    },
                                                                    "text": {
                                                                        "type": "string",
                                                                        "description": "Text content"
                                                                    }
                                                                },
                                                                "required": ["type", "text"],
                                                                "description": "Text content object"
                                                            },
                                                            {
                                                                "type": "object",
                                                                "properties": {
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": ["image_url"],
                                                                        "description": "Content type"
                                                                    },
                                                                    "image_url": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "url": {
                                                                                "type": "string",
                                                                                "description": "Image URL"
                                                                            },
                                                                            "detail": {
                                                                                "type": "string",
                                                                                "enum": [
                                                                                    "auto",
                                                                                    "low",
                                                                                    "high"
                                                                                ],
                                                                                "description": "Image detail level"
                                                                            }
                                                                        },
                                                                        "required": ["url"],
                                                                        "description": "Image URL configuration"
                                                                    }
                                                                },
                                                                "required": ["type", "image_url"],
                                                                "description": "Image URL content object"
                                                            }
                                                        ],
                                                        "description": "Content schema"
                                                    }
                                                },
                                                {
                                                    "nullable": true
                                                }
                                            ],
                                            "description": "Message content"
                                        },
                                        "tool_call_id": {
                                            "type": "string",
                                            "description": "Tool call ID for tool messages"
                                        },
                                        "tool_calls": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "Tool call identifier"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "enum": ["function"],
                                                        "description": "Tool call type"
                                                    },
                                                    "function": {
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "description": "Function name"
                                                            },
                                                            "arguments": {
                                                                "type": "string",
                                                                "description": "Function arguments as JSON string"
                                                            }
                                                        },
                                                        "required": ["name", "arguments"],
                                                        "description": "Function call details"
                                                    }
                                                },
                                                "required": ["id", "type", "function"],
                                                "description": "Tool call object"
                                            },
                                            "description": "Tool calls made by the assistant in this message"
                                        }
                                    },
                                    "required": ["role"],
                                    "description": "Message to send to the model"
                                },
                                "description": "Message for the generation."
                            }
                        },
                        "required": ["message"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Generation: Add Message"
            },
            "GenerationEnd": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["generation"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["end"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the generation."
                    }
                },
                "required": ["repoId", "entity", "action", "entityId"],
                "title": "Generation: End"
            },
            "GenerationError": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["generation"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["error"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the generation."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "errorMessage": {
                                "type": "string",
                                "description": "Error message."
                            },
                            "errorCode": {
                                "type": "string",
                                "description": "Error code. If not provided, the error will be created without a code."
                            },
                            "errorType": {
                                "type": "string",
                                "description": "Error type. If not provided, the error will be created without a type."
                            }
                        },
                        "required": ["errorMessage"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Generation: Error"
            },
            "GenerationEvaluate": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["generation"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["evaluate"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the generation."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "evaluators": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                },
                                "minItems": 1,
                                "description": "Evaluators for the generation. If not provided, the generation will be created without evaluators."
                            },
                            "variables": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "Variables for the evaluator. If not provided, the evaluator will be created without variables."
                            }
                        },
                        "required": ["evaluators"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Generation: Evaluate"
            },
            "GenerationAddMetadata": {
                "type": "object",
                "properties": {
                    "repoId": {
                        "type": "string",
                        "description": "Unique identifier for the repository"
                    },
                    "entity": {
                        "type": "string",
                        "enum": ["generation"]
                    },
                    "action": {
                        "type": "string",
                        "enum": ["add-metadata"]
                    },
                    "entityId": {
                        "type": "string",
                        "description": "Unique identifier for the generation."
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "metadata": {
                                "type": "object",
                                "additionalProperties": {
                                    "nullable": true
                                },
                                "description": "Metadata for the generation."
                            }
                        },
                        "required": ["metadata"]
                    }
                },
                "required": ["repoId", "entity", "action", "entityId", "data"],
                "title": "Generation: Add Metadata"
            },
            "ChatCompletionResult": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "object": {
                        "type": "string",
                        "enum": ["chat.completion"]
                    },
                    "created": {
                        "type": "number"
                    },
                    "model": {
                        "type": "string"
                    },
                    "choices": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "index": {
                                    "type": "number"
                                },
                                "message": {
                                    "type": "object",
                                    "properties": {
                                        "role": {
                                            "type": "string",
                                            "enum": ["assistant"]
                                        },
                                        "content": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "function_call": {
                                            "type": "object",
                                            "properties": {
                                                "arguments": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": ["arguments", "name"]
                                        },
                                        "tool_calls": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "function": {
                                                        "type": "object",
                                                        "properties": {
                                                            "arguments": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": ["arguments", "name"]
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": ["id", "function", "type"]
                                            }
                                        }
                                    },
                                    "required": ["role", "content"]
                                },
                                "logprobs": {
                                    "type": "object",
                                    "nullable": true,
                                    "properties": {
                                        "text_offset": {
                                            "type": "array",
                                            "items": {
                                                "type": "number"
                                            }
                                        },
                                        "token_logprobs": {
                                            "type": "array",
                                            "items": {
                                                "type": "number"
                                            }
                                        },
                                        "tokens": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "top_logprobs": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "additionalProperties": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                },
                                "finish_reason": {
                                    "type": "string"
                                }
                            },
                            "required": ["index", "message", "logprobs", "finish_reason"]
                        }
                    },
                    "usage": {
                        "type": "object",
                        "properties": {
                            "prompt_tokens": {
                                "type": "number"
                            },
                            "completion_tokens": {
                                "type": "number"
                            },
                            "total_tokens": {
                                "type": "number"
                            }
                        },
                        "required": ["prompt_tokens", "completion_tokens", "total_tokens"]
                    },
                    "cost": {
                        "type": "object",
                        "properties": {
                            "input": {
                                "type": "number"
                            },
                            "output": {
                                "type": "number"
                            },
                            "total": {
                                "type": "number"
                            }
                        },
                        "required": ["input", "output", "total"]
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "message": {
                                "type": "string"
                            },
                            "code": {
                                "type": "string"
                            },
                            "type": {
                                "type": "string"
                            }
                        },
                        "required": ["message"]
                    }
                },
                "required": ["id", "object", "created", "model", "choices", "usage"],
                "title": "Chat Completion Result"
            },
            "TextCompletionResult": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "object": {
                        "type": "string",
                        "enum": ["text_completion"]
                    },
                    "created": {
                        "type": "number"
                    },
                    "model": {
                        "type": "string"
                    },
                    "choices": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "index": {
                                    "type": "number"
                                },
                                "text": {
                                    "type": "string"
                                },
                                "logprobs": {
                                    "type": "object",
                                    "nullable": true,
                                    "properties": {
[...]
