{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "contact": {
      "name": "Maxim Engineering",
      "email": "eng@getmaxim.ai"
    },
    "title": "Maxim SDK API - prompt-partials",
    "description": "API documentation for Maxim SDK prompt-partials endpoints"
  },
  "servers": [
    {
      "url": "https://api.getmaxim.ai"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-maxim-api-key",
        "description": "API key for authentication"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/v1/prompt-partials": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Prompt Partial"
        ],
        "description": "Get prompt partials for a workspace",
        "summary": "Get Prompt Partials",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Unique identifier for the workspace"
            },
            "required": true,
            "name": "workspaceId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Unique identifier for the prompt partial"
            },
            "required": false,
            "name": "id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Name of the prompt partial"
            },
            "required": false,
            "name": "name",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true,
              "maximum": 100,
              "default": 10,
              "description": "Maximum number of records to return (max: 100)"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Unique identifier for the folder"
            },
            "required": false,
            "name": "folderId",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "nullable": true,
              "default": false,
              "description": "Include prompt partial versions in the response"
            },
            "required": false,
            "name": "includeVersions",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Unique identifier for the cursor"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Prompt partials retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "workspaceId": {
                            "type": "string"
                          },
                          "accountId": {
                            "type": "string"
                          },
                          "folderId": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdById": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "deletedAt": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "description",
                          "workspaceId",
                          "accountId",
                          "folderId",
                          "createdById",
                          "createdAt",
                          "updatedAt",
                          "deletedAt"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "hasMore": {
                          "type": "boolean"
                        },
                        "cursor": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "hasMore",
                        "cursor"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Prompt Partial"
        ],
        "description": "Create a new prompt partial",
        "summary": "Create Prompt Partial",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "Unique identifier for the workspace"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the prompt partial"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the prompt partial"
                  },
                  "folderId": {
                    "type": "string",
                    "nullable": true,
                    "description": "Unique identifier for the folder"
                  }
                },
                "required": [
                  "workspaceId",
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Prompt partial created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "workspaceId": {
                          "type": "string"
                        },
                        "accountId": {
                          "type": "string"
                        },
                        "folderId": {
                          "type": "string",
                          "nullable": true
                        },
                        "createdById": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "deletedAt": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "description",
                        "workspaceId",
                        "accountId",
                        "folderId",
                        "createdById",
                        "createdAt",
                        "updatedAt",
                        "deletedAt"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Prompt Partial"
        ],
        "description": "Update an existing prompt partial",
        "summary": "Update Prompt Partial",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "Unique identifier for the workspace"
                  },
                  "id": {
                    "type": "string",
                    "description": "Unique identifier for the prompt partial"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the prompt partial"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the prompt partial"
                  },
                  "folderId": {
                    "type": "string",
                    "nullable": true,
                    "description": "Unique identifier for the folder"
                  }
                },
                "required": [
                  "workspaceId",
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prompt partial updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "workspaceId": {
                          "type": "string"
                        },
                        "accountId": {
                          "type": "string"
                        },
                        "folderId": {
                          "type": "string",
                          "nullable": true
                        },
                        "createdById": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "deletedAt": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "description",
                        "workspaceId",
                        "accountId",
                        "folderId",
                        "createdById",
                        "createdAt",
                        "updatedAt",
                        "deletedAt"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Prompt partial not found"
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Prompt Partial"
        ],
        "description": "Delete a prompt partial",
        "summary": "Delete Prompt Partial",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Unique identifier for the workspace"
            },
            "required": true,
            "name": "workspaceId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Unique identifier for the prompt partial"
            },
            "required": true,
            "name": "id",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": "Prompt partial deleted successfully"
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Prompt partial not found"
          }
        }
      }
    },
    "/v1/prompt-partials/versions": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Prompt Partial Version"
        ],
        "description": "Get versions of a prompt partial",
        "summary": "Get Prompt Partial Versions",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Unique identifier for the workspace"
            },
            "required": true,
            "name": "workspaceId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Unique identifier for the prompt partial"
            },
            "required": true,
            "name": "promptPartialId",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true,
              "maximum": 100,
              "default": 10,
              "description": "Maximum number of records to return (max: 100)"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Unique identifier for the cursor"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Prompt partial versions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "promptPartialId": {
                            "type": "string"
                          },
                          "version": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "content": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdById": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "deletedAt": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "promptPartialId",
                          "version",
                          "description",
                          "content",
                          "createdById",
                          "createdAt",
                          "updatedAt",
                          "deletedAt"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "hasMore": {
                          "type": "boolean"
                        },
                        "cursor": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "hasMore",
                        "cursor"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Prompt Partial Version"
        ],
        "description": "Create a new version for a prompt partial",
        "summary": "Create Prompt Partial Version",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "Unique identifier for the workspace"
                  },
                  "promptPartialId": {
                    "type": "string",
                    "description": "Unique identifier for the prompt partial"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the prompt partial version"
                  },
                  "content": {
                    "type": "string",
                    "description": "Content of the prompt partial version"
                  }
                },
                "required": [
                  "workspaceId",
                  "promptPartialId",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Prompt partial version created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "promptPartialId": {
                          "type": "string"
                        },
                        "version": {
                          "type": "number"
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "content": {
                          "type": "string",
                          "nullable": true
                        },
                        "createdById": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "deletedAt": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "id",
                        "promptPartialId",
                        "version",
                        "description",
                        "content",
                        "createdById",
                        "createdAt",
                        "updatedAt",
                        "deletedAt"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Prompt partial not found"
          }
        }
      }
    }
  }
}