{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "contact": {
      "name": "Maxim Engineering",
      "email": "eng@getmaxim.ai"
    },
    "title": "Maxim SDK API - test-runs",
    "description": "API documentation for Maxim SDK test-runs endpoints"
  },
  "servers": [
    {
      "url": "https://api.getmaxim.ai"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-maxim-api-key",
        "description": "API key for authentication"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/v1/test-runs": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get test runs for a workspace",
        "summary": "Get test runs",
        "tags": [
          "Test run"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Unique identifier for the workspace"
            },
            "required": true,
            "name": "workspaceId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Test run ID to fetch specific run"
            },
            "required": false,
            "name": "id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "nullable": true,
              "description": "Cursor for pagination"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "nullable": true,
              "default": false,
              "description": "Whether this is a run report"
            },
            "required": false,
            "name": "isRunReport",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true,
              "maximum": 100,
              "default": 20,
              "description": "Maximum number of records to return (max: 100)"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "operator": {
                    "type": "string"
                  },
                  "value": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "nullable": true
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "default": []
                      },
                      {
                        "nullable": true
                      }
                    ]
                  },
                  "combinator": {
                    "type": "string",
                    "enum": [
                      "and",
                      "or"
                    ],
                    "default": "and"
                  }
                },
                "required": [
                  "name",
                  "operator"
                ]
              },
              "description": "Additional filters for the query"
            },
            "required": false,
            "name": "filters",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved test runs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "runs": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Delete test runs from a workspace",
        "summary": "Delete test runs",
        "tags": [
          "Test run"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "description": "Unique identifier for the workspace"
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "description": "Array of test run IDs to delete example: [\"run_123\", \"run_456\"]"
                  }
                },
                "required": [
                  "workspaceId",
                  "ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully deleted test runs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/test-runs/simulations": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Trigger a simulation test run.",
        "summary": "Trigger simulation test run",
        "tags": [
          "Simulation"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "workspaceId": {
                        "type": "string",
                        "description": "Workspace ID where the simulation will run"
                      },
                      "entityId": {
                        "type": "string",
                        "description": "ID of the entity to simulate (prompt version ID, workflow ID)"
                      },
                      "datasetId": {
                        "type": "string",
                        "description": "Dataset ID to use for the simulation"
                      },
                      "datasetSplitId": {
                        "type": "string",
                        "description": "Optional dataset split ID"
                      },
                      "evaluators": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The evaluator ID"
                            },
                            "variableMapping": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "string"
                              },
                              "description": "Optional variable mapping for the evaluator"
                            }
                          },
                          "required": [
                            "id"
                          ],
                          "description": "Evaluator configuration with optional variable mapping"
                        },
                        "description": "Array of evaluators with optional variable mapping to run on the simulation results."
                      },
                      "contextToEvaluate": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "DATASOURCE",
                                "DATASET_COLUMN"
                              ]
                            },
                            "payload": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "payload"
                          ]
                        },
                        "description": "Context sources to include in evaluation"
                      }
                    },
                    "required": [
                      "workspaceId",
                      "entityId",
                      "datasetId"
                    ]
                  },
                  {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "simulationType": {
                            "type": "string",
                            "enum": [
                              "PROMPT_SIMULATION"
                            ]
                          },
                          "simulationConfig": {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "persona": {
                                    "type": "string",
                                    "description": "Dataset column name containing the persona for the simulated user"
                                  },
                                  "maxTurns": {
                                    "type": "number",
                                    "minimum": 1,
                                    "description": "Maximum number of conversation turns"
                                  },
                                  "tools": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "List of tool IDs available to the agent"
                                  },
                                  "context": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "CONTEXT_SOURCE"
                                            ]
                                          },
                                          "payload": {
                                            "type": "string",
                                            "description": "Datasource ID"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "payload"
                                        ],
                                        "description": "Use a datasource (context source)",
                                        "title": "Context Source"
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "DATASET_COLUMN"
                                            ]
                                          },
                                          "payload": {
                                            "type": "string",
                                            "description": "Dataset column name"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "payload"
                                        ],
                                        "description": "Use a dataset column as the context source",
                                        "title": "Dataset"
                                      }
                                    ],
                                    "description": "Context configuration for the simulation"
                                  }
                                }
                              },
                              {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "MAXIM"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "type"
                                    ]
                                  }
                                ]
                              }
                            ],
                            "description": "Configuration for prompt simulation"
                          }
                        },
                        "required": [
                          "simulationType",
                          "simulationConfig"
                        ],
                        "title": "Prompt Simulation"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "simulationType": {
                            "type": "string",
                            "enum": [
                              "WORKFLOW_SIMULATION"
                            ]
                          },
                          "simulationConfig": {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "persona": {
                                    "type": "string",
                                    "description": "Dataset column name containing the persona for the simulated user"
                                  },
                                  "maxTurns": {
                                    "type": "number",
                                    "minimum": 1,
                                    "description": "Maximum number of conversation turns"
                                  },
                                  "tools": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "List of tool IDs available to the agent"
                                  },
                                  "context": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "CONTEXT_SOURCE"
                                            ]
                                          },
                                          "payload": {
                                            "type": "string",
                                            "description": "Datasource ID"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "payload"
                                        ],
                                        "description": "Use a datasource (context source)",
                                        "title": "Context Source"
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "DATASET_COLUMN"
                                            ]
                                          },
                                          "payload": {
                                            "type": "string",
                                            "description": "Dataset column name"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "payload"
                                        ],
                                        "description": "Use a dataset column as the context source",
                                        "title": "Dataset"
                                      }
                                    ],
                                    "description": "Context configuration for the simulation"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "responseFields": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Fields to extract from the HTTP response for simulation"
                                  }
                                }
                              },
                              {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "MAXIM"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "type"
                                    ]
                                  }
                                ]
                              }
                            ],
                            "description": "Configuration for HTTP agent simulation"
                          },
                          "environmentId": {
                            "type": "string",
                            "description": "Environment ID for variable resolution in the agent config"
                          }
                        },
                        "required": [
                          "simulationType",
                          "simulationConfig"
                        ],
                        "title": "HTTP Agent Simulation"
                      }
                    ]
                  }
                ],
                "description": "Payload for triggering a simulation test run"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Simulation test run triggered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Test run ID"
                        },
                        "workspaceId": {
                          "type": "string",
                          "description": "Workspace ID"
                        },
                        "status": {
                          "type": "string",
                          "description": "Current status of the test run"
                        },
                        "entityId": {
                          "type": "string",
                          "description": "Entity ID being tested"
                        },
                        "entityType": {
                          "type": "string",
                          "description": "Type of entity being tested"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "Creation timestamp"
                        }
                      },
                      "required": [
                        "id",
                        "workspaceId",
                        "status",
                        "entityType",
                        "createdAt"
                      ],
                      "description": "Response from triggering a simulation"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload or missing required configuration"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient permissions to run simulations"
          },
          "404": {
            "description": "Entity (prompt version, workflow) or dataset not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  }
}