{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "contact": {
      "name": "Maxim Engineering",
      "email": "eng@getmaxim.ai"
    },
    "title": "Maxim SDK API - test-run-entries",
    "description": "API documentation for Maxim SDK test-run-entries endpoints"
  },
  "servers": [
    {
      "url": "https://api.getmaxim.ai"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-maxim-api-key",
        "description": "API key for authentication"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/v1/test-runs/entries": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get test run entries",
        "summary": "Get test run entries",
        "tags": [
          "Test run entries"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Unique identifier for the workspace"
            },
            "required": true,
            "name": "workspaceId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Test run ID to fetch entries for"
            },
            "required": true,
            "name": "id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Entry ID to fetch detailed information for a specific entry"
            },
            "required": false,
            "name": "entryId",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "default": 1,
              "description": "Page number for pagination"
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "nullable": true,
              "maximum": 100,
              "default": 20,
              "description": "Maximum number of records to return (max: 100)"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Sort order for the results"
            },
            "required": false,
            "name": "sort",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Search query to filter results"
            },
            "required": false,
            "name": "searchQuery",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "operator": {
                    "type": "string"
                  },
                  "value": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "nullable": true
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "default": []
                      },
                      {
                        "nullable": true
                      }
                    ]
                  },
                  "combinator": {
                    "type": "string",
                    "enum": [
                      "and",
                      "or"
                    ],
                    "default": "and"
                  }
                },
                "required": [
                  "name",
                  "operator"
                ]
              },
              "description": "Additional filters for the query"
            },
            "required": false,
            "name": "filters",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched test run entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "runs": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  }
}